html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
#gameCanvas {
  position: absolute;
  width: 75vmin; /* 화면의 짧은 축의 90% */
  height: calc(90vmin * 1.38); /* 500:690 비율 유지 */
  max-width: 1200px;
  max-height: 690px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

